= simple_form_for @item, :url => @item.new? ? <%= plural_file_name %>_path : @item  do |f|

<% attributes.each do |attribute| -%>
    = f.input :<%= attribute.name %>
<% end %>
    %br
    = f.submit 'Save', :class => 'aSubmit aS_ok right'